* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #191F25;
}


header {
	padding: .5rem 2rem;

	display: flex;
	flex-direction: row;
	gap: 1rem;

	background-color: #F0E9E6;
}

header > a {
	padding: 10px;

	border-radius: 10px;
	background-color: #191F25;

	color: #F0E9E6;
	text-decoration: none;

	transition: opacity .2s linear;

	&:hover {
		opacity: .6;
	}
}